@import url("/home/awez/.cache/wal/colors-waybar.css");

* {
    border: none;
    background: none;
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    color: @foreground; /* dutch-white */
}

.modules-right {
    margin-right: 5px;
}

window#waybar {
    background: rgba(1, 1, 1, 1);
    padding: 0px 5px;
    margin: 10px 0px;
}

#workspaces button {
    color: @foreground; /* walnut-brown */
    padding: 0 8px;
    margin: 0 2px 2px 2px;
    background: rgba(0, 0, 0, 0.8);
    /* background: rgba(60, 56, 54, 0.35); */
    border-radius: 4px;
}

#workspaces button:hover {
    background: rgba(80, 80, 80, 0.4);
    color: @foreground; /* dutch-white */
}

#workspaces button.focused {
    background: rgba(7, 102, 120, 0.2); /* caribbean-current */
    color: @foreground;
    box-shadow: inset 0 -3px #076678;
}

#workspaces button.active {
    /* background: rgba(60, 56, 54, 0.35);  */
    background: rgba(0, 0, 0, 0.8);
    color: @foreground;
    font-weight: bold;
}

#clock, #pulseaudio, #battery, #network, #backlight, #custom-wifi, #custom-spotify, #custom-weather, #custom-vm, #bluetooth, #temperature {
    padding: 0 10px;
    margin: 0 2px 2px 2px;
    min-height: 30px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.8);
    transition: background 0.2s ease;
}

#clock:hover,
#pulseaudio:hover,
#battery:hover,
#network:hover,
#backlight:hover,
#bluetooth:hover,
#temperature:hover,
#custom-wifi:hover,
#custom-weather:hover,
#custom-vm:hover,
#custom-spotify:hover {
    background: rgba(40, 40, 50, 0.90);
}

#clock,
#battery,
#network,
#custom-wifi,
#custom-weather,
#custom-spotify,
#custom-vm,
#backlight,
#bluetooth,
#temperature,
#pulseaudio {
    color: @foreground;
}

/* Special states */
#battery.critical       { color: #ea9a97; }  /* Original bright red */
#battery.warning        { color: #F4EAC3; }  /* dutch-white */
#battery.charging       { color: #a6da95; }  /* Soft green retained */
#pulseaudio.muted       { color: #4F4C46; }  /* walnut-brown */
#network.disconnected   { color: #ea9a97; }  /* Red retained */
#custom-wifi.disconnected   { color: #ea9a97; }

tooltip {
    background-color: black;
    color: white; /* optional */
}
