window {
    background-color: rgba(30, 30, 30, 0.80);  /* Transparent dark */
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 0px solid rgba(100, 100, 100, 0.4); /* Sharp border */
    padding: 8px;
    font-size: 18px;
    font-family: "Roboto Mono", monospace;
    margin: 30% auto 0 auto; /* 30% from top, centered horizontally */
    width: 600px;
}

#input {
    background-color: rgba(35, 35, 35, 0.9); /* Darker, less transparent */
    color: #bbbbbb;
    border: none;
    padding: 8px; /* More gap between text & border */

}

#inner-box, #outer-box {
    background-color: transparent; /* No extra background layer */
}

#input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

#entry {
    background-color: transparent; /* No background */
    color: #dddddd;
    padding: 10px; /* Better spacing */
    border-radius: 0px; /* No rounding */
}

#entry:selected {
    background-color: #9b9087; /* Subtle selection */
    background: linear-gradient(90-deg, #bbccdd, #dd77ff);
    color: #ffffff;
}
