window {{
    background-color: rgba(16, 16, 16, 0.85);
    border: 2px solid {{color8}};
    border-radius: 0px;
    padding: 12px 16px;
    font-size: 18px;
    font-family: "JetBrainsMono Nerd Font Mono", monospace;
    margin: 30% auto 0 auto;
    width: 2px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}}

#input {{
    background-color: transparent;
    color: {{foreground}};
    border: none;
    padding: 12px 12px 12px 6px;
    padding-left: 0px;
    border-radius: 0px;
    background-image: none;
}}


#input > image.left {{
    -gtk-icon-transform:scaleX(0);
}}

#input:focus {{
    outline: none;
    border: none;
    box-shadow: none;
}}

#entry {{
    width: 100%;
    text-align: center;
    background-color: transparent;
    color: {{foreground}};
    padding: 12px 18px;
    border-radius: 0px;
}}

#entry:selected {{
    background-color: transparent;
    border: 10px #ffffff;
    box-shadow: none;
}}

#text:selected {{
    color: {color5};
}}

#img {{
    padding-right: 18px;
}}
